{:aliases  {:dev {:extra-paths ["development/src"]

                  :extra-deps  {org.clojure/clojure {:mvn/version "1.12.3"}
                                poly/cli            {:local/root "bases/cli"}
                                poly/user           {:local/root "components/user"}}}

            :test {:extra-paths ["bases/cli/test"
                                 "components/user/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
                   :extra-deps {polylith/clj-poly {:mvn/version "0.3.32"}}}

            :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}
                           org.clojure/tools.deps        {:mvn/version "0.28.1569"}}
                    :paths ["build/resources"]
                    :ns-default build}}}
