{:paths ["src"]
 :deps  {org.clojure/clojure               {:mvn/version "1.12.3"}
         com.github.seancorfield/next.jdbc {:mvn/version "1.3.1070"}
         com.h2database/h2                 {:mvn/version "2.3.232"}
         com.zaxxer/HikariCP               {:mvn/version "6.2.1"}}}